absl-py
attrs
blinker
cffi
click
colorama
contourpy
cycler
Flask
flatbuffers
fonttools
gunicorn
itsdangerous
jax
jaxlib
Jinja2
kiwisolver
MarkupSafe
matplotlib
mediapipe
ml_dtypes
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pillow
protobuf
pycparser
pyparsing
python-dateutil
scipy
scikit-learn
sentencepiece
six
sounddevice
Werkzeug
